<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lethekk.userservice.dao.msg.MsgOutBoxMapper">

    <select id="selectListByState">
        select `id`, `label`, `payload`, `state`
        from msg_out_box
        where state = #{state}
        limit 100
    </select>

</mapper>