<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lethekk.userservice.repository.checkin.UserTotalPointsMapper">

    <insert id="insertOrUpdatePoint">
        INSERT INTO user_total_points (user_id, total_points, update_time)
        VALUES (#{userId}, #{totalPoints}, #{updateTime})
        ON DUPLICATE KEY UPDATE
        total_points = total_points + #{totalPoints},
        update_time = #{updateTime}
    </insert>

</mapper>